<div id="fadey-text" class="transparent">
  <h3>Hopefully...</h3>
  <script>
  document.addEventListener('DOMContentLoaded', () => {
    const randTime = (Math.random() % 3 + 4) * 1000
    const fadeyText = document.querySelector("#fadey-text");

    setTimeout(() => {
      fadeyText.classList.remove('transparent');
    }, randTime);
  });
  </script>
</div>
