<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A Full Service Web Design & Development Studio with affordable pricing.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if eq .RelPermalink "/"  }}{{ .Title  }}{{ else  }}{{ .Title  }} | Chris Budd{{ end  }}</title>
  {{ with .Site.Params.description  }}
  <meta name="description" content="{{ . }}">
  {{ end  }}
  {{ with .Site.Params.author  }}
  <meta name="author" content="{{ . }}">
  {{ end  }}
  {{ $style := resources.Get "sass/theme.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity  }}">
</head>
