#homepage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  #coming-soon-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #fadey-text {
      opacity: 0.75;
      transition: all 0.5s ease-in;
    }
  }
}
