@mixin for-phone-only {
  @media (max-width: 959px) { @content;   }

}
@mixin for-non-phone-only {
  @media (min-width: 960px) { @content;   }

}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content;   }

}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content;   }

}
@mixin for-desktop-up {
  @media (min-width: 1024px) { @content;   }

}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content;   }

}
